
/* 
    Created on : 03/08/2018, 09:47:29
    Author     : Matheus R. Werner
*/
body{
    margin: 0;
    padding: 0;
}

table{
    width: 98%;
    margin: 0 auto;
}

table thead tr, table tfoot tr{
    background-color: #007bff;
    color: white;
    height: 33px;
    font-size: 19px;
    font-family: sans-serif;      
}

table tbody tr{
    color: white;
    font-size: 19px;
    font-family: sans-serif;
    height: 25px;
}

table tbody tr:nth-child(even){background-color: #CCC}
table tbody tr:nth-child(odd){background-color: #6c757d}

.botao-cadastro{
    text-decoration: none;
    width: 200px;
    background-color: #6f42c1;
    color: white;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    line-height: 29px;
    font-family: sans-serif;
    font-weigth: bold;
    font-size: 15px;
    float:right;
    margin-right: 10px;
    margin-bottom: 10px;    
}

h3{
    text-align: center;
    color: #007bff;
    font-size: 25px;
    font-family: sans-serif;
    
        
}
